<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #personForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="person.name" 
          class="form-control" 
          id="name" 
          name="name" 
          placeholder="Enter your name"
          required #name="ngModel">
      </div>
      <div [hidden]="!name.pristine" class="alert alert-danger">Name is required</div>
      <div class="form-group">
        <label for="nationalID">National ID</label>
        <input type="text" [(ngModel)]="person.nationalID" 
          class="form-control" 
          id="nationalID" 
          name="nationalID" 
          placeholder="Enter your National ID"
          required #email="ngModel">
        <div [hidden]="!person.nationalID.pristine" class="alert alert-danger">National ID is required</div>
      </div>
      <div class="form-group">
        <label for="phoneNumber">Phone</label>
        <input type="text" [(ngModel)]="person.phoneNumber" 
          class="form-control" 
          id="phoneNumber" 
          name="phoneNumber" 
          placeholder="Enter your phone number"
          required #phoneNumber="ngModel">
        <div [hidden]="!person.phoneNumber.pristine" class="alert alert-danger">Phone number is required</div>
      </div>
      <button type="submit" [disabled]="!personForm.form.valid" 
        class="btn btn-info">Submit</button>
    </form>
  </div>
</div>